.card {
  width: 18rem;
  height: 28rem;

  margin: 10px 0;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(175, 175, 175, 0.25) !important;
  transition: ease-in 250ms;
}

.card-body {
  padding: 3rem 0 !important;
}

.card-text {
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
  text-align: left;
}

.container-fluid .row {
  padding-top: 6rem;
}

.card-body .btn {
  margin: 10px;
}

.container-fluid {
  background-color: #202020;
  min-height: 100vh;
}
