.home-body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #416788, #7389ae, #b5bad0, #e0e0e2);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.home__grid {
  text-align: center;
}

.home__content {
  margin-top: 25vh;
}

.home__title {
  font-size: 3em;
  text-transform: uppercase;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
}

.home__text {
  color: #000000;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.home__title2 {
  font-size: 1.4em;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.links {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  margin: auto;
}

.links i {
  color: #000000;
  font-size: 3.2em;
  padding: 20px 30px;
}

.links :hover {
  color: #3b3b3b;
  transition: 500ms;
}
