.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 23px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #dadada;
}

.bm-burger-bars-hover {
  background: #777777;
  transition: 250ms;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #dadada;
}

.bm-menu-wrap {
  height: 100%;
}

.bm-menu {
  background: #0e0e0e;
  padding: 2.5em 1em;
}

.bm-morph-shape {
  fill: #182632;
}

.bm-item {
  display: inline-block;
  padding: 0.8em;
  text-decoration: none;
  color: #dadada;
  font-size: 1.5em;
}

.bm-menu > nav > a:hover {
  color: #777777;
  text-decoration-line: none;
}
