.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 23px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #000000;
}

.bm-burger-bars-hover {
  background: #3b3b3b;
  transition: 500ms;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #e2e2e4;
}

.bm-menu-wrap {
  height: 100%;
}

.bm-menu {
  background: #182632;
  padding: 2.5em 1.5em 0;
}

.bm-morph-shape {
  fill: #182632;
}

.bm-item {
  display: inline-block;
  padding: 0.8em;
  text-decoration: none;
  color: #e2e2e4;
  font-size: 1.5em;
}

.bm-item :hover {
  color: #527492;
  transition: 500ms;
}
